<?xml version="1.0" encoding="UTF-8"?>

<web-app
    xmlns="http://xmlns.jcp.org/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <session-config>
        <session-timeout>
                30
            </session-timeout>
    </session-config>
    <servlet>
	<servlet-name>NewServlet</servlet-name>
	<servlet-class>servlet.NewServlet</servlet-class>
    </servlet>

    <servlet-mapping>
	<servlet-name>NewServlet</servlet-name>
	<url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>


	
    <!-- 
    	way to add filter to pages
    
    <filter>
	<filter-name>MyFilter</filter-name>
	<filter-class>filter.MyFilter</filter-class>
    </filter>

    <filter-mapping>
	<filter-name>MyFilter</filter-name>
	<url-pattern>/NewServlet</url-pattern>
    </filter-mapping> -->

	<!-- We need a startup file or a welcome file to run the project
	this is named as the index.jsp file following is code to add welcome file
	without this it will give a 404 error 
	we can mention two files here because if main welcome file gets corrupt another
	backup file will load-->
	<welcome-file-list>
		<welcome-file>home.html</welcome-file>	
	</welcome-file-list>


</web-app>
